doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title Blogs
    link(rel="stylesheet", type="text/css", href="public/style.css")

  body.text-responsive
    include includes/header.pug

    div(style="width:80%").mx-auto
      ul
        li.my-4
          a(href="https://blogs.imf.org/2022/06/08/how-replacing-coal-with-renewable-energy-could-pay-for-itself/") How Replacing Coal With Renewable Energy Could Pay For Itself
          |, IMFBlog, June 8, 2022
        li.my-4
          a(href="https://www.imf.org/en/News/Articles/2022/06/01/sp060122-md-opening-remarks-at-the-policy-dialogue-on-climate-and-green-financing") Managing Director Kristalina Georgieva’s Opening Remarks at IMF Policy Dialogue: Climate-Related Financial Risks and Green Finance in Asia and the Pacific
          |, June 1, 2022
        li.my-4
          a(href="https://www.linkedin.com/posts/imf-market-insights_the-great-carbon-arbitrage-activity-6937776017344274432-UGiR") IMF Market Insights on LinkedIn: The Great Carbon Arbitrage
          |, June 1, 2022
        li.my-4
          a(href="https://www.imf.org/en/News/Articles/2022/06/01/sp060122-climate-finance-dialogue-opening-remarks-by-tobias-adrian") Opening Remarks by Tobias Adrian, delivered at the IMF Policy Dialogue on Climate-Related Financial Risks and Green Finance in Asia and the Pacific
          |, June 1, 2022
        li.my-4
          a(href="https://voxeu.org/article/great-carbon-arbitrage") The Great Carbon Arbitrage
          |, Tobias Adrian, Patrick Bolton & Alissa M. Kleinnijenhuis, VoxEU, June 1, 2022
        li.my-4
          a(href="https://www.imperial.ac.uk/business-school/the-great-carbon-arbitrage/") The Great Carbon Arbitrage
          |, Imperial College Business School, June 1, 2022
        li.my-4
          a(href="https://www.inet.ox.ac.uk/news/the-great-carbon-arbitrage/") The Great Carbon Arbitrage
          |, Institute for New Economic Thinking at the Oxford Martin School, June 1, 2022
