doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title Climate financing yearly
  body
    include includes/header.pug

    script(src="js/climate_financing_yearly.js" type="module")

    include includes/mixins.pug

    div.d-flex.flex-column.flex-lg-row.justify-content-center
      // Input
      div(class="d-flex flex-wrap justify-content-center mb-4", style="margin:0 auto").py-3.px-3
        .flex-column
          +cfUnitAnnual("Billion dollars")

          include includes/common_user_inputs.pug

          label(for="by-region").form-label= Region
          select(id="by-region", onchange="calculate()").form-select.w-80
            optgroup(label="Level of development")
              - var vals = ["World", "Developed Countries", "Developing Countries", "Emerging Market Countries"]
              each val in vals
                - var isSelected = "World" == val
                option(selected= isSelected)= val
            optgroup(label="Region")
              - var vals = ["Asia", "Africa", "North America", "Latin America & the Carribean", "Europe", "Australia & New Zealand"]
              each val in vals
                option= val
            //optgroup(label="Country")#all-countries
      // Output
      div#timeseries(style="width:60%; margin:0 auto;").ms-auto.py-3.px-3

    // Data
    .px-3.mb-3
      details
        summary
          |Result data in JSON format (click here to view online, or 
          a#download-result-data download
          |)
        code#result-data

    script(src="https://cdn.jsdelivr.net/npm/d3@7")
    script(src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.4")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    // Needed to enable Bootstrap tooltips
    script(src="js/enable_tooltips.js")
    script(type="module").
      import {iso3166} from "./js/iso-3166-data.js"
      import {calculate} from "./js/climate_financing_yearly.js"
      window.calculate = calculate
      calculate()

      // Insert all countries into the region selector dropdown
      //const allCountries = document.getElementById("all-countries")
      //for (const e of iso3166) {
      //  allCountries.appendChild(new Option(e.name, e["alpha-2"]))
      //}
