doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title The Great Carbon Arbitrage
  body
    include includes/header.pug

    script(src="js/sensitivity_analysis_result.js")
    script(src="js/carbon_arbitrage.js")

    include includes/mixins.pug

    div.d-flex.flex-row.justify-content-center
      // Output
      div(style="width:700px; margin:0 auto;").ms-auto
        table.table.table-hover
          tr
            td Present value of benefits of phasing out coal (in trillion dollars)
            td
              output#pv-benefits 87.05
          tr
            td
              |Present value of costs of phasing out coal (in trillion dollars)
              +moreInfo("Consists of the opportunity costs of coal and investment costs in replacement (renewable) energy.")
            td
              output#pv-costs 29.03
          tr
            td
              |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              |Opportunity costs (in trillion dollars)
            td
              output#opportunity-costs 0.05
          tr
            td
              |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              |Investment costs (in trillion dollars)
            td
              output#investment-costs 28.98
          tr.table-success
            td
              |Carbon arbitrage (in trillion dollars)
              +moreInfo("Difference between present value of benefits and costs of phasing out coal.")
            td
              output#carbon-arbitrage 77.89
          tr.table-success
            td
              |Carbon arbitrage relative to world GDP
              +moreInfo("Carbon arbitrage relative to GDP every year from t+2 until time T, where t+2=2024 and T=time horizon of carbon arbitrage.")
            td
              output#carbon-arbitrage-relative-gdp 1.2 %
          tr.table-success
            td Carbon arbitrage (in dollars) per tonne of coal production
            td
              output#carbon-arbitrage-per-tcoal 154
          tr.table-success
            td
              |Carbon arbitrage (in dollars) per tCO
              sub 2
            td
              output#carbon-arbitrage-per-tco2 67
          tr
            td Total coal production prevented (Giga Tonnes)
            td
              output#coal-production-prevented 506.79
          tr
            td
              |Total emissions prevented (GtCO
              sub 2
              |)
            td
              output#emissions-prevented 1160.61
          tr
            td
              |Further temperature increase &#8212; on top of 1.1 &#8451;
              br
              |already observed &#8212; prevented
            td
              output#temperature-increase 1.74
          //tr
          //  td Debug
          //  td
          //    output#debug

      // Input
      div(class="d-flex flex-wrap justify-content-center py-3 mb-4", style="margin:0 auto")
        .flex-column
          +slider("social-cost-of-carbon", "Social cost of carbon (in dollars)", 25, 400, 25, 75, "The social cost of carbon is an estimate of the economic costs, or damages, of emitting one additional ton of carbon dioxide into the atmosphere, and thus the benefits of reducing emissions.")

          +inputSelect(
            "time-horizon",
            "Time horizon of carbon arbitrage",
            "2100",
            ["2050", "2070", "2100"],
            "The last year in which costs are made to phase out coal."
          )

          include includes/common_user_inputs.pug

          +discountRate

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    // Needed to enable Bootstrap tooltips
    script(src="js/enable_tooltips.js")
  </body>
