doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title Media
    link(rel="stylesheet", type="text/css", href="public/style.css")

  body.text-responsive
    include includes/header.pug
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")

    div(style="width:80%").mx-auto
      ul
        li.my-4
          a(href="https://saboodle.com/index.php/2022/06/09/how-replacing-coal-with-renewable-energy-could-pay-for-itself-analysis-eurasia-review/") How Replacing Coal With Renewable Energy Could Pay For Itself
          |, Finance World, June 9, 2022
        li.my-4
          a(href="https://www.trendradars.com/latest/article-550507-replacing-coal-with-renewables-to-result-in-78-trillion-gain-by-end-of-century-imf-says/") Replacing coal with renewables to result in $78 trillion gain by end of century, IMF says
          |, TrendRadars, June 9, 2022
        li.my-4
          a(href="https://thegoaspotlight.com/2022/06/09/world-could-profit-78-trillion-from-coal-swapping-for-renewable-sources-says-imf/") World could profit $78 trillion from coal swapping for renewable sources, says IMF
          |, The Goa Spotlight, June 9, 2022
        li.my-4
          a(href="https://www.spamchronicles.com/world-can-gain-78-trillion-from-swapping-coal-for-renewable-sources-says-imf/") World can gain $78 trillion from swapping coal for renewable sources, says IMF
          |, S Chronicles, June 9, 2022
        li.my-4
          a(href="https://aviationghana.com/how-replacing-coal-with-renewable-energy-could-pay-for-itself/") How Replacing Coal With Renewable Energy Could Pay For Itself
          |, AviationGhana, June 9, 2022
        li.my-4
          a(href="https://www.axios.com/2022/06/09/coal-imf-study-economic-benefits") Ditching coal is expensive — and a huge bargain
          |, Axios, June 9, 2022
        li.my-4
          a(href="https://dailyguardian.eu/how-replacing-coal-with-renewable-energy-could-pay-for-itself-analysis-eurasia-review/") How Replacing Coal With Renewable Energy Could Pay For Itself
          |, DailyGuardian.eu, June 9, 2022
        li.my-4
          a(href="https://eaccny.com/news/chapternews/imf-how-replacing-coal-with-renewable-energy-could-pay-for-itself/") IMF | How Replacing Coal With Renewable Energy Could Pay For Itself
          |, EACCNY, June 8, 2022
        li.my-4
          a(href="https://www.thenationalnews.com/business/road-to-net-zero/2022/06/08/replacing-coal-with-renewables-to-result-in-78-trillion-gain-by-end-of-century-imf-says/") Replacing coal with renewables to result in $78 trillion gain by end of century, IMF says
          |, The National News, June 8, 2022
        li.my-4
          a(href="https://environment-analyst.com/global/108111/financial-and-social-benefits-of-global-coal-phase-out-would-outweigh-cost") Financial and social benefits of global coal phase out ‘would outweigh’ cost
          |, Environment Analyst Global, June 8, 2022
        li.my-4
          a(href="https://africaneyereport.com/how-replacing-coal-with-renewable-energy-could-pay-for-itself/") How Replacing Coal With Renewable Energy Could Pay For Itself
          |, African Eye Report, June 8, 2022
        li.my-4
          a(href="https://www.miragenews.com/phasing-out-coal-could-generate-social-benefits-792952/") Phasing out coal could generate ‘social benefits’ worth $78 trillion
          |, Mirage News, June 1, 2022
        li.my-4
          a(href="https://braveneweurope.com/voxeu-the-great-carbon-arbitrage") Tobias Adrian, Patrick Bolton, Alissa Kleinnijenhuis: The Great Carbon Arbitrage
          |, Brave New Europe, June 1, 2022

      span Non-English:
      ul
        li.my-4
          a(href="https://ahorainfo.com.ar/2022/06/09/reemplazar-carbon-con-energia-renovable/") Cómo reemplazar el carbón con energía renovable podría pagarse solo
          |, Ahora! Publicidad, June 9, 2022
        li.my-4
          a(href="https://damijan.org/2022/06/09/zamenjava-premoga-z-obnovljivimi-viri-se-splaca/") Zamenjava premoga z obnovljivimi viri se splača
          |, Jože P. Damijan blog, June 9, 2022
        li.my-4
          a(href="https://financnenoviny.com/blog-medzinarodneho-menoveho-fondu-ako-by-sa-oplatilo-nahradit-uhlie-obnovitelnou-energiou/") Blog Medzinárodného menového fondu: Ako by sa oplatilo nahradiť uhlie obnoviteľnou energiou
          |, Finančné Noviny, June 8, 2022
        li.my-4
          a(href="https://www.fortuneidn.com/business/eko-wahyudi/imf-taksir-keuntungan-dunia-setop-pakai-batu-bara-capai-us-77-89-t") IMF Taksir Keuntungan Dunia Setop Pakai Batu Bara Capai US$77,89 T
          |, Fortune Indonesia, June 6, 2022
        li.my-4
          a(href="https://www.rctiplus.com/news/detail/nasional/2467515/pernyataan-biaya-transisi-energi-mahal-dinilai-menyesatkan") Pernyataan Biaya Transisi Energi Mahal Dinilai Menyesatkan
          |, rctiplus.com, June 6, 2022
        li.my-4
          a(href="https://www.pedomanrakyatnews.com/ekonomi/pr-3353536236/imf-jika-energi-batu-bara-berhenti-dunia-untung-rp-1123-kuadriliun") IMF: Jika Energi Batu Bara Berhenti, Dunia Untung Rp 1.123 Kuadriliun
          |, Pedoman Rakyat News, June 6, 2022
        li.my-4
          a(href="https://nasional.kontan.co.id/news/imf-sebut-stop-pakai-batubara-dunia-bisa-untung-us-7789-triliun") IMF Sebut Stop Pakai Batubara, Dunia Bisa Untung US$ 77,89 Triliun
          |, Kontan.co.id, June 5, 2022
        li.my-4
          a(href="https://bisnis.tempo.co/read/1598410/dunia-setop-gunakan-batu-bara-imf-bawa-keuntungan-rp-1-123-kuadriliun/full&view=ok") Dunia Setop Gunakan Batu Bara, IMF: Bakal Bawa Keuntungan Rp 1.123 Kuadriliun
          |, bisnis.tempo.co, June 4, 2022
        li.my-4
          a(href="https://ekonomi.bisnis.com/read/20220604/9/1539947/imf-dunia-untung-rp1123-kuadriliun-jika-setop-pakai-batu-bara") IMF: Dunia Untung Rp1.123 Kuadriliun Jika Setop Pakai Batu Bara
          |, Bisnis.com, June 4, 2022
        li.my-4
          a(href="https://puncak-media.com/2022/06/dunia-setop-gunakan-batu-bara-imf-bakal-bawa-keuntungan-rp-1-123-kuadriliun.html") Dunia Setop Gunakan Batu Bara, IMF: Bakal Bawa Keuntungan Rp 1.123 Kuadriliun
          |, Puncak Media, June 4, 2022
