doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title Talks
    link(rel="stylesheet", type="text/css", href="public/style.css")

  body.text-responsive
    include includes/header.pug
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")

    div(style="width:80%").mx-auto
      ul
        li.my-4 Chief Economist Research Seminar Series, World Bank, Washington DC (2022)
        li.my-4 Research Seminar, Board of Governors of the Federal Reserve System, Washington DC (December 8, 2022)
        li.my-4
          a(href="https://cbey.yale.edu/event/2022-yisf-annual-symposium-the-parallel-pressures-of-sustainable-finance") 2022 YISF Annual Symposium: The Parallel Pressures of Sustainable Finance, Yale Center for Business and the Environment, Yale University, New Haven (November 18, 2022)
        li.my-4
          a(href="https://www.gsb.stanford.edu/faculty-research/faculty/conferences/business-environmental-sustainability") Finance and Environmental Sustainability Conference, Stanford Graduate School of Business & Stanford Doerr School of Sustainability, Stanford (November 11-12, 2022)
        li.my-4 Research Seminar, European Bank for Reconstruction and Development (EBRD), London (2022)
        li.my-4
          a(href="https://www.gsb.stanford.edu/faculty-research/faculty/conferences/business-environmental-sustainability/political-economy") The Political Economy of Environmental Sustainability Conference, Stanford Graduate School of Business & Stanford Doerr School of Sustainability, Stanford (October 14-15, 2022)
        li.my-4
          a(href="https://www.ecb.europa.eu/pub/conferences/html/20220920_workshop_fiscal_policy_and_climate_change_CALL.en.html") Workshop on Fiscal Policy and Climate Change, European Central Bank, Frankfurt (Sept 20, 2022)
        li.my-4
          a(href="https://economics.stanford.edu/events/site-2022-conference-schedule/climate-finance-innovation-and-challenges-policy") Climate Finance, Innovation and Challenges for Policy, Stanford Department of Economics & SITE, Stanford (Sept 12-13, 2022)
        li.my-4
          a(href="https://www.financialresearch.gov/conference/2022/05/31/climate-implications-conference-program/") Climate Risks & Financial Stability Conference, Office of Financial Research, Virtual (Sept 9, 2022)
        li.my-4
          a(href="https://2022cesg.splashthat.com/") Keynote, 2022 Cornell University ESG Investing Research Conference, Cornell University’s SC Johnson College of Business, Ithaca (July 21, 2022)
        li.my-4
          a(href="https://clabb.io/event/sgc") Keynote, Sustainable Global Capital Conference, Virtual (July 13, 2022)
        li.my-4 Research Seminar, Office of the Comptroller of the Currency, Virtual (July 12, 2022)
        li.my-4 Research Seminar, World Resources Institute, Virtual (July 6, 2022)
        li.my-4 Research Seminar, Climate Policy Initiative, Virtual (June 28, 2022)
        li.my-4 Research Seminar, Fidelity Investments, Virtual (June 14, 2022)
        li.my-4 MCM Policy Forum, International Monetary Fund, Washington DC (May 31, 2022)
        li.my-4 INET Oxford Seminar, University of Oxford, Oxford (April 28, 2021)
        li.my-4 De Nederlandsche Bank, Amsterdam (April 19, 2022)
        li.my-4 Finance Seminar, Universiteit van Amsterdam, Amsterdam (April 14, 2022)
        li.my-4 Finance Seminar, Vrije Universiteit, Amsterdam (March 11, 2022)

      small
        i
          |* Please send an e-mail to 
          a(href="mailto:greatcarbonarbitrage@gmail.com") greatcarbonarbitrage@gmail.com
          | 
          |if you’d like to request a talk (e.g., presentation of the paper).
