+inputSelect(
  "phaseout-scenario",
  "Coal phase out scenario",
  "Net Zero 2050 (NGFS global scenario)",
  ["Net Zero 2050 (NGFS global scenario)", "Halt to coal production"],
  "The pathway according which coal is phased out. “Net Zero 2050 (NGFS global scenario)” uses a pathway developed by the Network for Greening the Financial System (NGFS) to phase out coal in line with the net zero 2050 ambitions. “Halt to coal production” represents a benchmark scenario where coal production would be halted completely from t+2 onwards, where t+2=2024."
)

+inputSelect(
  "coal-replacement",
  "Coal replacement",
  "50% solar, 50% wind",
  ["100% solar, 0% wind", "56% solar, 44% wind", "50% solar, 50% wind", "0% solar, 100% wind"],
  "The mixture of replacement energy with which phased out coal is replaced."
)

+inputSelect(
  "lifetime-renewable-plants",
  "Investment costs - lifetime renewable plants",
  "30 years",
  ["30 years", "50 years"]
)

+inputSelect(
  "learning-curve",
  "Investment costs fall - learning curve",
  "Learning (investment cost drop because of learning)",
  ["Learning (investment cost drop because of learning)", "No learning (no investment cost drop)"],
  "The costs of renewables have fallen sharply over the last decades, because of learning-by-doing. The Wright’s law captures how the investment costs in renewables fall as a function of the global cumulative installed capacity. The drop-down “learning” means that we capture the drop in investment costs in renewables resulting from learning of earlier built renewables to replace coal. The drop-down “no learning” is the less plausible baseline where no learning-by-doing effects take place and future investment costs do not further fall."
)
