+inputSelect(
  "phaseout-scenario",
  "Coal phase out scenario",
  "Net Zero 2050 (NGFS global scenario)",
  ["Net Zero 2050 (NGFS global scenario)", "Halt to coal production"]
)

+inputSelect(
  "coal-replacement",
  "Coal replacement",
  "50% solar, 50% wind",
  ["100% solar, 0% wind", "56% solar, 44% wind", "50% solar, 50% wind", "0% solar, 100% wind"]
)

+inputSelect(
  "lifetime-renewable-plants",
  "Investment costs - lifetime renewable plants",
  "30 years",
  ["30 years", "50 years"]
)

+inputSelect(
  "learning-curve",
  "Investment costs fall - learning curve",
  "Learning (investment cost drop because of learning)",
  ["Learning (investment cost drop because of learning)", "No learning (no investment cost drop)"]
)
