style.
  .inline-logo {
    display: inline-block;
  }
footer.mb-3
  a(href="https://2degrees-investing.org/")
    img(src="public/logo/2dii.svg" height="100").p-3
  a(href="https://asset-resolution.com/")
    img(src="public/logo/asset_resolution.svg" height="100" style="background-color: #001725").p-3
  a(href="https://www.smithschool.ox.ac.uk/research/sustainable-finance/")
    img(src="public/logo/oxford_sustainable_finance_group.png" height="100").p-3
  a(href="https://www.inet.ox.ac.uk/")
    img(src="public/logo/INET_oxford.svg" height="100").p-3
  a(href="https://siepr.stanford.edu/")
    img(src="public/logo/SIEPR.png" height="100").p-3
  // Requires permission
  a(href="https://home.gsb.columbia.edu/")
    img(src="public/logo/columbia_business_school.png" height="100").p-3
  a(href="https://www.imperial.ac.uk/business-school/")
    img(src="public/logo/imperial_college_business_school.svg" height="100").p-3
